{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block content %}
    <div class="row login-pages">
        <div class="col-md-12">

            {% if validlink %}

            <form method="post" action="{%  url 'auth_password_reset_complete' %}">
              {% csrf_token %}
              {{ form | as_bootstrap }}

              <input type="submit" value="{% trans 'Submit' %}" />
            </form>

            {% else %}

            <p>{% trans "Password reset failed" %}</p>

            {% endif %}
        </div>
    </div>

{% endblock %}
