{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="container shop-style">
        <div class="row">
            <div class="col-md-12 product-detail">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}" class="img-responsive">
                <h1>{{ product.name }}</h1>
                <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
                <p class="price">${{ product.price }}</p>
                {% if user.is_authenticated %}
                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="Add to cart">
                    </form>
                {% else %}
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick=location.href="{% url 'auth_login' %}?next={{request.path}}">Add to cart</button>
                    </div>
                {% endif %}
                {{ product.description|linebreaks }}
            </div>
        </div>
    </div>
{% endblock %}