.logo-spacer {
    display: inline-block;
    margin-right: 50px;
}
.navlink-style {
    margin-top: 25px;
    font-size: large;
}
.shopping-cart-style {
    padding-top: 150px;
}
.banner-style {
    background-color: black;
}
.section-style {
    background-color: white;
}
.contact-style {
    background-color: white;
}
.shop-style {
    height: 100%;
    /* padding-top: 150px; */
}
h2 {
    font-size: 1.5em;
}
.form-style {
    /* padding-top: 150px; */
}
.login-pages {
    /* padding-top: 150px; */
}
.contact-form {
    padding-top: 120px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.blog-style {
    height: 100%;
    /* padding-top: 150px; */
    font-family: Arial;
    text-decoration: none;

}
.story-img {
    margin-top: 25%;
    display: block;
}
.thumbnail {
    margin-bottom: 8px;
}

.img-container {
    overflow: hidden;
    height: 170px;
}

.img-container img {
    min-width: 280px;
    min-height: 180px;
    max-width: 380px;
    max-height: 280px;
}

.txt-container {
    overflow: hidden;
    height: 100px;
}
.product-img {
    min-width: 200px;
    min-height: 200px;
    max-width: 350px;
    max-height: 350px;
}
.products_home{
    margin-bottom: 10px;
}
#map {
    width: 100%;
    height: 400px;
}
.shop-text {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
}
.padding-remove-login {
    padding-top: 0;
}
.add-padding {
    padding-top: 150px;
}
.remove-padding {
    padding-top: 5px;
}

