{% extends 'base.html' %}
{% load static %}
{% block content %}

     <!-- Intro Section -->
    <section id="intro" class="intro-section banner-style">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><img src="{% static 'images/home_banner2.jpg' %}" class="img-responsive center-block" alt=""></p>
                    <a class="btn btn-default page-scroll" href="#about">Learn More About Us</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section section-style">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About Us</h1>
                    <p>Mr. Crumb is a multi-award winning food company based in the rural village of Finea in Ireland's lakelands.<br>
                    We have been described by Checkout Magazine as "One of Ireland's great success stories".</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Mr. Crumb was founded in 1996 by Bernard Coyle, the current Chairman. He was working as a salesman for a major bakery when he noticed a gap in the market for fresh breadcrumb as an ingredient for stuffing, bread sauce, puddings etc. He decided to quit his job, take a chance and go out on his own. Having had initial difficulty getting the breadcrumb listed with the retailers, he decided to move up the value chain and make the actual stuffing. The rest is history. Mr Crumb took a market sector which was declining by more than 20% per annum and reversed the trend creating over 25% market growth per annum.</p>
                        <hr>
                    <p>
                        The company has three times been voted Ireland’s Best Business: “Outstanding Irish Business”(2004), ”Irish Small Business of the Year”(2005), ”Irish Enterprise of the Year”(2014).<br>
                        We have also won numerous awards for the quality and taste of our products: Great Taste, Blas na hEireann & Irish Quality Food Awards. The company is now a major local employer and a trailblazing exporter (runner up in “Irish Exporter of the Year” Food & Drink Category in both 2012 and again in 2013).
                    </p>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img src="{% static 'images/about_homepage.jpg' %}" class="img-responsive" alt="Jason Coyle Director">
                        <figcaption>Jason Coyle - Company Director</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Our Products</h1>
                    <p>Mr. Crumb's unique selling points are that the products are produced in small batches, in a state of the art facility, by artisanal methods, whereby products are either hand cooked or hand finished.
                        As a result, Mr. Crumb works in partnership with leading retailers & food manufacturers in Ireland, the UK, France, Germany and Scandinavia.<br>
                        While we're best known for our stuffing and breadcrumb, the product range, both chilled and frozen, can be segmented into 2 categories:
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row products_home">
                <div class="col-sm-6">
                    <p>1. Ready to Cook Value Added Ingredients such as fresh breadcrumb, stuffing, toppings, cheese melts and flavoured butters.</p>
                </div>
                <div class="col-sm-6">
                    <p>2. Ready to Cook Snack Foods such as filled paninis, wraps, burritos and bruschetta.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="{%  static 'images/sageonion_homepage.jpg' %}" class="img-responsive" alt="Stuffing & breadcrumb products">
                </div>
                <div class="col-sm-3">
                    <img src="{%  static 'images/sageonion_glutenfree_homepage.jpg' %}" class="img-responsive" alt="Stuffing & breadcrumb products">
                </div>
                <div class="col-sm-6">
                    <img src="{%  static 'images/mr_deli_homepage.jpg' %}" class="img-responsive center-block img-buffer" alt="Panini, burrito & wrap products">
                </div>
            </div>

        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section contact-style">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact Us</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Address</h2>
                    <p>Finea, Mullingar, Co. Westmeath</p>
                    <hr>
                    <h2>Calling from Ireland</h2>
                    <p>Tel: 043 66 81148<br>
                    Fax: 043 66 81348
                    </p>
                    <hr>
                    <h2>Calling from another country</h2>
                    <p>Tel: 00353 43 66 81148<br>
                    Fax: 00353 43 66 81348
                    </p>
                    <hr>
                    <button type="button" class="btn btn-primary" onclick=location.href="{% url 'contact' %}">Send Us A Message</button>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img src="{% static 'images/location_map.jpg' %}" class="img-responsive img-center" alt="Mr Crumb locations">
                        <figcaption>Mr Crumb locations</figcaption>
                    </figure>
                </div>
            </div>

            <hr>

            <div class="row">
                <div id="map" class="col-md-12">


                </div>

            </div>
        </div>
    </section>

{% endblock %}

{% block page_scripts %}
<!-- Google Maps API -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgkfHa1oiTQIVQDwdhoPBpXnJ-oLE07ms&callback=initMap">
    </script>
{% endblock %}